body {
    background-color: #f5f5f5;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: darkred;
}

h2 {
    color: darkblue;
}

table {
    margin: auto;
    border-collapse: collapse;
}

th, td {
    padding: 10px;
}